[tool.poetry]
name = "pull-request-codecommit"
version = "0.4.3"
description = "pull-request-codecommit creates a PR within CodeCommit based on your commit messages."
authors = ["Joris Conijn <joris@conijnonline.nl>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.0.3"

[tool.poetry.dev-dependencies]
black = "^22.12"
mypy = "^0.991"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pytest-mypy = "^0.10.2"
toml = "^0.10.2"
types-toml = "^0.10.8"
twine = "^4.0.2"
xenon = "^0.9.0"
radon = "^5.1.0"

[tool.poetry.scripts]
pull-request-codecommit = "pull_request_codecommit:main"
git-pr = "pull_request_codecommit:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
